<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{dish.name | uppercase }}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src ={{dish.image}} alt ={{dish.name}}>

      <mat-card-content>
        {{dish.description}}
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-list>
      <mat-list-item *ngFor = "let comment of dish.comments ">
        <h3 matLine >
          {{comment.comment}}
        </h3>
        <p matLine> {{comment.author}}</p>
        <p matLine > {{comment.rating}}</p>
        <p matLine> {{comment.date | date}}</p>
      </mat-list-item>
    </mat-list>
  </div>

</div>