<!-- column especifica que ls eelemntos adentros se meteran en columnas uno debajo del otro-->
<div class ="container" fxLayout ="column" fxLayoutGap = "10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>
  <!-- una pieza de condtenido-->
  <div fxFlex> 
  <!--Grilla de elementos con dos columnas y el tamaño de cada fila-->
  <mat-grid-list cols ="2" rowHeight="200px" >
    <!-- iterar sobre un array de item-->
    <mat-grid-tile *ngFor="let dish of dishes">
      <img height="200px" src = {{dish.image}} alt ={{dish.name}} />
      <mat-grid-tile-footer>
          <h1  >{{dish.name | uppercase}}</h1>
         
      </mat-grid-tile-footer>
      
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <app-dish-details></app-dish-details>

</div>